* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/******************************
SASS Variables
******************************/
.header {
  background: red; }

section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  section:last-child {
    margin-right: 0; }
